<!-- Icon Cards-->
<div class="row">
  <!-- Route Title -->
  <%- include('./title') -%>
  <%- include('./info', {info_title: "Network", info_content:bus.route_desc}) -%>
  <%- include('./info', {info_title: "Operator", info_content:bus.agency_name}) -%>
  <%- include('./delay',{delay_title: "Early", delay_percentage:bus.early_percentage}) -%>
  <%- include('./delay',{delay_title: "On-time", delay_percentage:bus.ontime_percentage}) -%>
  <%- include('./delay',{delay_title: "Late", delay_percentage:bus.late_percentage}) -%>
  <%- include('./delay',{delay_title: "Very Late", delay_percentage:bus.verylate_percentage}) -%>

</div><!-- end of icon cards -->
