<% var section_head_info = {
  title: 'Route Analysis',
  description: 'Descriptive analysis on each route.'
  }
%>

<%- include('header') -%>
<%- include('navbar') -%>
<div id="wrapper">
  <%- include('sidebar') -%>
  <div id="content-wrapper">
     <div class="container-fluid">
      <%- include('section_head', {section_head_info : section_head_info}) -%>
       <!-- search bar -->
       <%- include('./route/route_main_search') -%>
     </div>
  </div>
</div>
<%- include('footer', {js_name: 'route.js'}) -%>
